{% extends "base.html" %}
{% load static %} 
 

{% block title %}
    <title>RegisterPage</title>
    {% endblock %}


{% block content %} 
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="Doe"><br><br>
        <input type="file" name="profilepic" id="profilepic">
        <input type="submit" value="Submit">
    </form> 
    <h1> Registerpage</h1>
    
{% endblock %}